@import "atoms/variables";

* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

img {
  height: auto;
  max-width: 100%;
}

svg,
embed,
iframe,
object,
video {
  max-width: 100%;
}

html,
body {
  background: $color-background;
  background-image: linear-gradient(transparent, rgba($color-accent, 0.2));
  color: $color-text;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
}

#root {
  height: 100%;
}

a {
  border-bottom: 1px solid currentColor;
  color: $color-link;
  outline: none;
  text-decoration: none;
  transition: background 150ms, border-color 250ms, color 250ms, opacity 250ms;

  &:hover,
  &:focus {
    color: $color-link-hover;
  }
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

svg {
  fill: currentColor;
}

.sort-grip {
  content: '';
  cursor: move;
  display: inline-block;
  font-size: 0.9em;
  height: 1.6em;
  line-height: 0.3em;
  overflow: hidden;
  width: 1em;

  &::after {
    content: '... ... ... ...';
  }
}
