%button-reset {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 0;
  user-select: none;

  &:disabled {
    opacity: 0.5;
  }
}

%input-reset {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 0;
  user-select: none;
  width: 100%;

  &:disabled {
    opacity: 0.5;
  }
}
