// Named colors, don't use these
$off-white : #efefef;
$off-black : #121212;
$purple    : #590059;

// Universal named colors, use these
$color-white : #fff;
$color-gray  : #808080;
$color-black : #000;
$color-red   : #f00;

// Unnamed colors, use these
$color-background : $off-white;
$color-text       : $off-black;
$color-accent     : $purple;
$color-link       : darken($color-accent, 20%);

$background-accent : desaturate(lighten($color-accent, 60%), 80%);
