.app-body {
  position: relative;
  max-width: 900px;
  min-height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.app-header-wrap {
  flex-grow: 0;
  background-color: var(--color-background);
}

.app-body-wrap {
  flex-grow: 1;
}

.app-footer-wrap {
  flex-grow: 0;
  padding: 4px 0;

  text-align: center;
  font-size: 0.9em;

  background-color: var(--color-background);
}
