.app-body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  width: calc(100% - 20px);
  min-height: 100%;
}

.app-header-wrap {
  flex-grow: 0;
  background-color: var(--color-background);
}

.app-body-wrap {
  flex-grow: 1;
}

.app-body-wrap.empty {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  flex-grow: 0;
  padding: 4px 0;

  text-align: center;
  font-size: 0.9em;

  background-color: var(--color-background);
}
