.app-body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  width: calc(100% - 20px);
  min-height: 100%;
}

.app-header-wrap {
  flex-grow: 0;
  background-color: var(--color-background);
}

.app-body-wrap {
  --gap: 10px;
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: var(--gap);
  column-gap: var(--gap);
  row-gap: var(--gap);
}

.app-body-wrap.empty {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  flex-grow: 0;
  padding: 16px 0 4px;

  text-align: center;
  font-size: 0.9em;

  background-color: var(--color-background);
}
