.ukulele-chord {
  display: inline-block;
  margin: 10px;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
  }

  svg {
    width: 100px;
    height: 100px;
  }

  .nut {
    fill: black;
  }

  .fret {
    fill: lighten(black, 50%);
  }

  .finger {
    fill: darken(red, 20%);
  }
}
