@import "atoms/variables";

.ukulele-chord {
  display: inline-block;
  margin: 10px;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
  }

  svg {
    width: 120px;
    height: 120px;
  }

  $line-color: mix($color-text, rgba(0, 0, 0, 0), 80);
  $finger-color: mix($color-accent, $color-light, 70);

  .nut, .string, .fret {
    fill: $line-color;
  }

  .finger {
    fill: $finger-color;
  }

  .fret-num {
    font-size: 0.9em;
    font-weight: bold;
    color: $finger-color;
  }

  text.finger {
    font-size: 4em;
  }
}
