@import "atoms/variables";

.ukulele-chord {
  display: inline-block;
  margin: 10px;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
  }

  svg {
    width: 120px;
    height: 120px;
  }

  .nut {
    fill: $color-text;
  }

  .string {
    fill: darken($color-background, 50%);
  }

  .fret {
    fill: $color-text;
  }

  .finger {
    fill: lighten($color-accent, 10%);
  }

  text.finger {
    font-size: 4em;
    opacity: 0.8;
  }
}
