@import "atoms/normalize";
@import "atoms/variables";
@import "atoms/mixins";

@import "molecules/globals";

$accent-shadow: 0 0 10px $color-background, 0 0 10px $color-background;

.app-body {
  position: relative;
  height: 100%;
}

.app-header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: $color-background;
  box-shadow: $accent-shadow;

  z-index: 2;
}

.app-body-wrap {
  position: relative;
  padding-top: 80px;
  padding-bottom: 32px;

  height: auto;
  min-height: 100%;

  z-index: 0;
}

.app-footer-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 4px 0;

  text-align: center;
  font-size: 0.9em;

  background-color: $color-background;
  box-shadow: $accent-shadow;

  z-index: 2;
}
