@import "atoms/normalize";
@import "atoms/variables";
@import "atoms/mixins";

@import "molecules/globals";

.app-body {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.app-header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: $color-background;
  box-shadow: 0 0 10px $color-background, 0 0 10px $color-background;

  z-index: 2;
}

.app-body-wrap {
  position: relative;
  padding-top: 80px;
  padding-bottom: 30px;

  min-height: 100%;

  z-index: 0;
}

.app-footer-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  background-color: $background-accent;
  box-shadow: 0 0 10px $background-accent, 0 0 10px $background-accent;

  z-index: 2;
}

.header-input {

}
