.chord-input {
  width: 100%;
  padding: 10px 0;

  --font-color: #a478a4;
  --back-color: #360936;
}

.chord-input input {
  width: 100%;
  line-height: 1.3;
  font-size: 1.5em;
  padding: 10px;
  border: none;
  border-radius: 3px;

  color: var(--font-color);
  background: var(--back-color);
}

.chord-input input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px var(--color-negative);
}

.chord-input input::-webkit-input-placeholder,
.chord-input input::-moz-placeholder,
.chord-input input:-moz-placeholder,
.chord-input input:-ms-input-placeholder,
.chord-input input:placeholder {
  color: rgba(117, 117, 117, 0.7);
}
