@import "atoms/variables";

.chord-input {
  width: 100%;
  padding: 10px;

  &, * {
    box-sizing: border-box;
  }

  $font-color: mix($color-accent, $color-background);
  $back-color: mix($color-accent, $color-negative);

  input {
    width: 100%;
    line-height: 1.3;
    font-size: 1.5em;
    padding: 10px;
    border: none;
    border-radius: 3px;

    color: $font-color;
    background: $back-color;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 0px 2px $color-negative;
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &:placeholder {
      color: rgba($font-color, 0.7);
    }
  }
}
